footer{
    background-color: var(--c-3);
    padding: 60px 0px;
}

.footer{
    justify-content: space-between;
    gap: 60px;
}

.footer-logo{
    width: 160px;
}

.footer,
.nav-footer,
.nav-footer-links,
.footer-social,
.footer-social-links{
    display: flex;
}

.footer-social,
.nav-footer{
    flex-direction: column;
    row-gap: 28px;
}

.nav-footer-links{
    gap: 20px 40px;
}

.nav-footer-links a{
    position: relative;
}

.nav-footer-links a::after{
    content: '';
    display: block;
    width: 40%;
    height: 2px;
    background-color: var(--c-0);
    position: absolute;
    bottom: -16px;
    right: 30%;
    visibility: hidden;
    transition: 0.4s;
}

.nav-footer-links a:hover::after {
    visibility: visible;
    bottom: -12px;
}

.footer-social{
    align-items: flex-end;
}

.footer-social-links{
    column-gap: 20px;
}

.footer-social-links a{
    position: relative;
}

.footer-social-links a::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--c-0);
    position: absolute;
    bottom: -16px;
    visibility: hidden;
    transition: 0.4s;
}

.footer-social-links a:hover::after {
    visibility: visible;
    bottom: -12px;
}

@media (max-width: 850px){
    .footer,
    .nav-footer-links{
        flex-direction: column;
        text-align: center;
    }

    .nav-footer{
        row-gap: 40px;
    }

    .footer,
    .nav-footer,
    .footer-social{
        justify-content: center;
        align-items: center;
    }
}