.font-1-s,
.font-1-sb{
    font: 400 1rem/1.7 'Alata', sans-serif;
}

.font-1-sb{
    letter-spacing: 4px;
    text-transform: uppercase;
}

.font-2-m{
    font: 300 32px/1.0 'Josefin Sans', sans-serif;
}

.font-2-l{
    font: 300 48px/1.0 'Josefin Sans', sans-serif;
}

.font-2-xl{
    font: 300 64px/1.0 'Josefin Sans', sans-serif;
}

.font-2-s,
.font-2-m,
.font-2-l,
.font-2-xl{
    text-transform: uppercase;
}

@media (max-width: 650px){
    .font-2-xl{
        font-size: 42px;
    }

    .font-2-l{
        font-size: 36px;
    }
}